<% include ../partials/header %>
<div class="container">
<div class="form">
    <h3>login!</h3>
    <form action="/login" method="post">
        <input type="text" name="username" placeholder="username" id="">
        <input type="password" name="password" placeholder="password" id="">
        <button class="btn-submit" type="submit">login</button>
    </form>

</div>
</div>
<% include ../partials/footer %>
