<% include ../partials/header %>
<div class="container">
<div class="form">
    <h4>sign up!</h4>
    <form action="/register" method="post">
        <input type="text" name="name" placeholder="enter your name" id="">
        <input type="date" name="age" placeholder="age" id="">
        <input type="text" name="image" placeholder="profile_picture" id="">
        <input type="text" name="username" placeholder="username" id="">
        <input type="password" name="password" placeholder="password" id="">
        <button class="btn-submit" type="submit">sign up</button>
    </form>

</div>
</div>
<% include ../partials/footer %>
